* {
  box-sizing: border-box;
}

.componentSet {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px dashed #9747ff;
  padding: 23px;
  width: 498px;
  height: 430px;
  overflow: hidden;
  row-gap: 24px;

  .text3 {
    flex-shrink: 0;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--FontA-000, #000000);
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .text {
    flex-shrink: 0;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--Primary, #4285f4);
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .component {
    display: inline-flex;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    margin-right: 80px;

    .tabs1 {
      display: inline-flex;
      position: relative;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      padding: 11px 16px;
      row-gap: 9px;

      .frame {
        position: absolute;
        bottom: 0;
        left: 25px;
        flex-shrink: 0;
        background: var(--Primary, #4285f4);
        width: 24px;
        height: 2px;
      }
    }

    .text2 {
      flex-shrink: 0;
      padding: 11px 16px;
      line-height: 20px;
      letter-spacing: 0;
      color: var(--FontA-000, #000000);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }

  .component2 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    background: var(--BG-F8F8F8, #f8f8f8);
    padding-right: 80px;

    .aTabs1 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      background: var(--FG-FFFFFF, #ffffff);
      padding: 8px 16px;
    }

    .aTabs2 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      background: var(--BG-F8F8F8, #f8f8f8);
      padding: 8px 16px;
    }
  }

  .component3 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    margin-right: 306px;
    background: var(--FG-FFFFFF, #ffffff);

    .tab1 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      border-width: 0px 3px 0px 0px;
      border-style: solid;
      border-color: var(--Primary, #4285f4);
      background: var(--PrimaryAlpha10, #4285f41a);
      padding-right: 13px;
      padding-left: 16px;
      height: 40px;

      .text4 {
        display: -webkit-box;
        flex-grow: 1;
        overflow: hidden;
        letter-spacing: 0;
        color: var(--Primary, #4285f4);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }

    .tab2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      background: var(--FG-FFFFFF, #ffffff);
      padding-right: 16px;
      padding-left: 16px;
      height: 40px;

      .text5 {
        display: -webkit-box;
        flex-grow: 1;
        overflow: hidden;
        letter-spacing: 0;
        color: var(--FontA-000, #000000);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
  }

  .frame2 {
    position: relative;
    flex-shrink: 0;
    border-radius: 2px;
    width: 166px;
    height: 32px;

    .tab12 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      border: 1px solid var(--LineDark-ddd, #dddddd);
      background: var(--FG-FFFFFF, #ffffff);
      padding: 4px 9px;
      width: 54px;
      height: 32px;
    }

    .tab22 {
      display: inline-flex;
      position: absolute;
      top: 0;
      left: 53px;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      border: 1px solid var(--LineDark-ddd, #dddddd);
      background: var(--FG-FFFFFF, #ffffff);
      padding: 4px 9px;
      width: 57px;
      height: 32px;
    }

    .tab3 {
      display: inline-flex;
      position: absolute;
      top: 0;
      left: 109px;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      border: 1px solid var(--LineDark-ddd, #dddddd);
      background: var(--FG-FFFFFF, #ffffff);
      padding: 4px 9px;
      width: 57px;
      height: 32px;
    }
  }
}
